
body {
    height: 100vh;
    background-color: var(--dark) !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.background {
    position: absolute;
    background-color: var(--dark) !important;
    top: 0;
    display: block;
    left: 0;
    z-index: -1;
}