.heart-container {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
}

.heart-container::after {
    content: "";
    border-radius: 20px;
    backdrop-filter: blur(30px);
    z-index: -2;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.heart-container::before {
    content: "";
    border-radius: 20px;
    background-color: var(--light);
    opacity: .2;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}