.title {
    font-size: 8.5em;
    text-align: center;
    padding-top: 3rem;
    font-family: 'Righteous', cursive !important;
    color: var(--light);
    background: -webkit-linear-gradient(0deg, var(--success) 5%, var(--soft-dark) 53%, var(--success-dark) 71%, var(--warning) 91%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 7px transparent;
    width: max-content;
    margin: auto;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    transition: all 1s ease;
}

.title::before {
    content: "";
    background-image: url(../../assets/img/questionmark_reverse.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 150px;
    position: absolute;
    left: -52px;
    top: 32px;
    transform: rotate(25deg);
    z-index: -1;
}

.title::after {
    content: "";
    background-image: url(../../assets/img/questionmark.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -50px;
    bottom: -30px;
    transform: rotate(25deg);
    width: 100px;
    height: 150px;
    z-index: -1;
}

.title.hidden {
    padding-top: 0rem;
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
}